 
      /* ##############################
                common CSS styles  
    ######################################  */

body{
    font-family: 'Poppins', sans-serif;
}

section{
    margin-bottom: 100px;
}

     /* ##############################
                Nav menu style starts  
    ######################################  */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px 0 120px;
    margin-top: 60px;
}
nav h4{
    color: #3A3A3A;
    font-weight: 700;
    font-size: 24px;
}
.nav-menu{
    padding-bottom: 50px;
}
nav a{
    text-decoration: none;
    padding-right: 34px;
    color: #3A3A3A;
}
nav a .fas {
    font-size: 1.3em;
}

     /* ##############################
                Nav menu style ends  
    ######################################  */

         /* ##############################
                main camera part style starts  
    ######################################  */

    .half-width-container{
        display: flex;
        padding: 0 120px 0 120px;
        justify-content: space-between;
    }
    .half-width h1{
      padding-top: 60px;
        font-size: 52px;
        font-weight: 700;
        color: #3A3A3A;
        margin-bottom: 0;
    }
    .half-width p{
        color: #3A3A3A;
        font-size: 16px;
        font-weight: 600;
        padding-bottom: 20px;
       
    }
    .half-width a {
        text-decoration: none;
        background-color: #E02C6D;
        color: #FFFFFF;
        padding: 10px 40px;
        border-radius: 41px;
        font-weight: 800;
    }
    .fa-arrow-right{
        padding-left: 8px;
    }
    .left{
        padding-right: 90px;
    }
    .half-width img{
        width: 440px;
        height: 414px;      
}
        
      /* ##############################
                main camera part style ends  
    ######################################  */

       /* ##############################
                Popular collection part style starts  
    ######################################  */ 
    .popular-collection{
        padding: 0 186px 0 186px;
    }
    .popular-collection h2{
        text-align: center;
        color: #3A3A3A;
        font-size: 28px;
        font-weight: 600;
       
    }
    .collection{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        padding-top: 30px;
    }
    .items{
        box-shadow: 0px 0px 25px 0px rgb(219, 218, 218);
        padding:14px;
        border-radius: 5px;
    }
.items span{
padding-left: 10px;
}
 .items h3{
     color: #18191F;
     font-size: 28px;
     font-weight:lighter;
     margin-top: 8px;
     margin-bottom: 10px;
 }
.price{
    color: #4b4848;
    font-size: 24px;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 10px;
}
small{
    color:  #FB8200;
    font-size: 0.5em;
}
.rating-points{
    color: #5E6366;
    font-size: 14px;
    
}
.items p{
    color: #787885;
    margin-top: 0;
}
.blank-button a{
    text-decoration: none;
    color: #E02C6D; 
    position: absolute;
    right: 110px;
    font-weight: 800;
    margin-top: 20px;
}
 