 
      /* ##############################
                common CSS styles  
    ######################################  */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section{
    margin-bottom: 100px;
}

      /* ##############################
                common CSS styles  
    ######################################  */

/* ****************************************************************** */

     /* ##############################
                Nav menu style starts  
    ######################################  */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px 0 120px;
    margin-top: 60px;
}
nav h4{
    font-weight: 700;
    font-size: 24px;
}
.nav-menu{
    padding-bottom: 50px;
    padding-top: 60px;
}
nav h4:hover{
    transform:scale(1.3);
    transition:.1s ease-in-out; ; 
}
nav a{
    text-decoration: none;
    padding-right: 34px;
    color: #557C55;
}
.nav-menu a{
    display: inline-block;
    color: #469901;
}

.nav-menu a:hover{
    transform:scale(1.3);
    transition:.1s ease-in-out; 
}
nav a .fas {
    font-size: 1.3em;
}

     /* ##############################
                Nav menu style ends  
    ######################################  */

/* ****************************************************************** */

         /* ##############################
                main camera part style starts  
    ######################################  */

    .half-width-container{
        display: flex;
        padding: 0 120px 0 120px;
        justify-content: space-between;
    }
    .half-width h1{
      padding-top: 60px;
        font-size: 52px;
        font-weight: 700;
        color: #557C55;
        margin-bottom: 0;
    }
    .half-width p{
        color: #3A3A3A;
        font-size: 16px;
        font-weight: 600;
        padding-bottom: 20px;
       
    }
    .half-width a {
        text-decoration: none;
        background-color: #68b429;
        color: #dcf2f5;
        padding: 10px 40px;
        border-radius: 41px;
        font-weight: 800;
        display: inline-block;
    }
.half-width a:hover{
    transform:scale(1.3);
    transition:.1s ease-in-out; 
}
    .fa-arrow-right{
        padding-left: 8px;
    }
    .left{
        padding-right: 90px;
    }
    .half-width img{
        width: 440px;
        height: 414px;      
}
        
      /* ##############################
                main camera part style ends  
    ######################################  */

/* ****************************************************************** */

       /* ##############################
                Popular collection part style starts  
    ######################################  */ 
    .popular-collection{
        padding: 0 186px 0 140px;
    }
    .popular-collection h2{
        text-align: center;
        color: #557C55;
        font-size: 28px;
        font-weight: 600;
       
    }
    .collection{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        padding-top: 30px;
    }
    .items{
        box-shadow: 0px 0px 25px 0px rgb(219, 218, 218);
        padding:14px;
        border-radius: 5px;

    }
.items span{
padding-left: 10px;
}
 .items h3{
     font-size: 28px;
     font-weight:lighter;
     margin-top: 8px;
     margin-bottom: 10px;
 }
 .items h3 a{
     text-decoration: none;
     color: #68b429;
 }
 .items h3:hover{
    transform: translate(30px, 0px);
    transition:.1s ease-in-out; 
}
.price{
    color: #4b4848;
    font-size: 24px;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 10px;
}
small{
    color:  #FB8200;
    font-size: 0.5em;
}
.rating-points{
    color: #5E6366;
    font-size: 14px;
    
}
.items p{
    color: #787885;
    margin-top: 0;
}
.blank-button a{
    text-decoration: none;
    color: #469901; 
    position: absolute;
    right: 160px;
    font-weight: 800;
    margin-top: 20px;
}

.blank-button a:hover{
    transform: translate(30px, 0px);
    transition:.1s ease-in-out; 
}
      /* ##############################
                Popular collection part style ends  
    ######################################  */ 

/* ****************************************************************** */

       /* ##############################
                Top influence/bonus part style starts  
    ######################################  */ 
.top-influencer{
    padding: 0 186px 0 140px;
}

.top-influencer h2{
        color: #557C55;
        font-size: 28px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 30px;
}

.top-influencer p{
    color: #202931;
    text-align:justify
}

    .influencers{
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
         grid-gap: 30px;
        
    }
    .person{
        padding: 24px;
        background-color: #eaece6;
        border-radius: 15px;
    }
    .person img{
        border-radius: 10px;
    }
.person h3{
     font-size: 28px;
     font-weight:lighter;
     margin-top: 8px;
     margin-bottom: 10px;
}
.person h3 a{
    text-decoration: none;
    display: inline-block;
    color: #68b429;

}

.person h3 a:hover{
    transform: translate(30px, 0px);
    transition:.1s ease-in-out; 
}
.person .price{
    color: #24A19C;
}

.person p{
        color: #3A3A3A;
        text-align: justify;

}
.trick-button{
    text-decoration: none;
     background-color: #68b429;
        color: #dcf2f5;
         padding: 10px 40px;
        border-radius: 41px;
        font-weight: 800;
        display: inline-block;

}

.fa-hand-point-down{
    color: #24A19C;
    font-size: 2em;
    display: inline-block;
}
.fa-hand-point-down:hover{
    transform: translate(0px, 20px);
    transition:.1s ease-in-out;  }
.person a:hover{
    transform:scale(1.3);
    transition:.1s ease-in-out;  
}

       /* ##############################
                Top influence/bonus part style ends  
    ######################################  */ 

/* ****************************************************************** */

    /* ##############################
                Footer part style starts  
    ######################################  */ 
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#072227 ;
    height: 240px;
}
footer p{
    margin: 0 0 0 0;
    color: #96CEB4;
}
footer h4{
    margin: 60px 0 0 0;
    font-size: 24px;
    color: #96CEB4;
}
footer span{
    padding-top: 13px;
   
}
.fab{
padding: 10px 10px 10px 10px;
margin:2px 10px 1px 10px;
font-size: 1.5em;
color: #68b429;
background-color: rgba(105, 99, 99, 0.151);
border-radius: 50%;
}
footer .fab:hover{
    transform:scale(1.6);
    transition:.1s ease-in-out; 
}

    /* ##############################
                Footer part style ends  
    ######################################  */ 

    /* ****************************************************************** */

       /* ##############################
                @media rules for mobile starts  
    ######################################  */ 
    @media only screen and (max-width:688px){


      /* ##############################
                common CSS styles  
    ######################################  */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section{
    margin-bottom: 100px;
}

      /* ##############################
                common CSS styles  
    ######################################  */

/* ****************************************************************** */

     /* ##############################
                Nav menu style starts  
    ######################################  */

  nav{
    
    padding: 0;
    margin: 0px;
} 
 
.nav-heading h4 a{
    font-weight: 700;
    font-size: 24px;
    padding-left: 20px;
    padding-left: 40px;
    
}
.nav-heading{

padding-left: 45px;
}
.nav-menu{
    display: none;
}
     /* ##############################
                Nav menu style ends  
    ######################################  */

/* ****************************************************************** */

         /* ##############################
                main camera part style starts  
    ######################################  */

    .half-width-container{
        display: flex;
       flex-direction: column-reverse;
       padding: 10px;
    
    }
    .half-width h1{
      padding: 14px 0 0 0;
        font-size: 28px;
        font-weight: 700;
        color: #557C55;
        text-align: center;
        margin: 0;
    }
    .half-width p{
        color: #3A3A3A;
        font-size: 16px;
        font-weight: 600;
        padding: 20px;
        margin: 0;
        text-align: justify;

       
    }
    .half-width a {
        text-decoration: none;
        background-color: #68b429;
        color: #dcf2f5;
        padding: 10px 40px;
        border-radius: 41px;
        font-weight: 800;
        margin-left: 94px;
       
    }
    .fa-arrow-right{
        padding-left: 8px;
    }
    .left{
        padding:0;
    }
    .half-width img{
        width:100%;
        height: auto;
            
}
.half-width a:hover{
    transform:none;
    transition:none; 
}
        
      /* ##############################
                main camera part style ends  
    ######################################  */

/* ****************************************************************** */

       /* ##############################
                Popular collection part style starts  
    ######################################  */ 
    .popular-collection{
        padding: 0 186px 0 140px;
    }
    .popular-collection h2{
        text-align: center;
        color: #557C55;
        font-size: 28px;
        font-weight: 600;
       
    }
    .collection{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        padding-top: 30px;
    }
    .items{
        box-shadow: 0px 0px 25px 0px rgb(219, 218, 218);
        padding:14px;
        border-radius: 5px;

    }
.items span{
padding-left: 10px;
}
 .items h3{
     font-size: 28px;
     font-weight:lighter;
     margin-top: 8px;
     margin-bottom: 10px;
 }
 .items h3 a{
     text-decoration: none;
     color: #68b429;
 }
 .items h3:hover{
    transform: translate(30px, 0px);
    transition:.1s ease-in-out; 
}
.price{
    color: #4b4848;
    font-size: 24px;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 10px;
}
small{
    color:  #FB8200;
    font-size: 0.5em;
}
.rating-points{
    color: #5E6366;
    font-size: 14px;
    
}
.items p{
    color: #787885;
    margin-top: 0;
}
.blank-button a{
    text-decoration: none;
    color: #469901; 
    position: absolute;
    right: 160px;
    font-weight: 800;
    margin-top: 20px;
}

.blank-button a:hover{
    transform: translate(30px, 0px);
    transition:.1s ease-in-out; 
}
      /* ##############################
                Popular collection part style ends  
    ######################################  */ 

/* ****************************************************************** */

       /* ##############################
                Top influence/bonus part style starts  
    ######################################  */ 
.top-influencer{
    padding: 0 186px 0 140px;
}

.top-influencer h2{
        color: #557C55;
        font-size: 28px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 30px;
}

.top-influencer p{
    color: #202931;
    text-align:justify
}

    .influencers{
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
         grid-gap: 30px;
        
    }
    .person{
        padding: 24px;
        background-color: #eaece6;
        border-radius: 15px;
    }
    .person img{
        border-radius: 10px;
    }
.person h3{
     font-size: 28px;
     font-weight:lighter;
     margin-top: 8px;
     margin-bottom: 10px;
}
.person h3 a{
    text-decoration: none;
    display: inline-block;
    color: #68b429;

}

.person h3 a:hover{
    transform: translate(30px, 0px);
    transition:.1s ease-in-out; 
}
.person .price{
    color: #24A19C;
}

.person p{
        color: #3A3A3A;
        text-align: justify;

}
.trick-button{
    text-decoration: none;
     background-color: #68b429;
        color: #dcf2f5;
         padding: 10px 40px;
        border-radius: 41px;
        font-weight: 800;
        display: inline-block;

}

.fa-hand-point-down{
    color: #24A19C;
    font-size: 2em;
    display: inline-block;
}
.fa-hand-point-down:hover{
    transform: translate(0px, 20px);
    transition:.1s ease-in-out;  }
.person a:hover{
    transform:scale(1.3);
    transition:.1s ease-in-out;  
}

       /* ##############################
                Top influence/bonus part style ends  
    ######################################  */ 

/* ****************************************************************** */

    /* ##############################
                Footer part style starts  
    ######################################  */ 
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#072227 ;
    height: 240px;
}
footer p{
    margin: 0 0 0 0;
    color: #96CEB4;
}
footer h4{
    margin: 60px 0 0 0;
    font-size: 24px;
    color: #96CEB4;
}
footer span{
    padding-top: 13px;
   
}
.fab{
padding: 10px 10px 10px 10px;
margin:2px 10px 1px 10px;
font-size: 1.5em;
color: #68b429;
background-color: rgba(105, 99, 99, 0.151);
border-radius: 50%;
}
footer .fab:hover{
    transform:scale(1.6);
    transition:.1s ease-in-out; 
}

    /* ##############################
                Footer part style ends  
    ######################################  */ 
        

    





    }